@import "mixins";

//TODO: improve the scope of this
$footer-height: 200px;
$navbar-height: 50px;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  > .alert {
    position: absolute;
    left: 0;
    right: 0;
    top: $navbar-height;
  }
}


.navbar.navbar-default {
  background-color: paanet-color('primary');
  border: none;

  .navbar-brand {
    padding: 8px 15px;

    > img {
      width: 90px;
    }
  }

  .navbar-nav > li > a {
    color: paanet-color('background');
    text-transform: capitalize;
  }

  .navbar-toggle {
    background-color: paanet-color('background');
  }
  .navbar-collapse {
    &.collapsing,
    &.in {
      background-color: paanet-color('accent');
    }
  }
}


#view-content-wrapper {
  min-height: calc(100vh - #{$footer-height});
}

// Show exception messages for error pages such as 404
#view-content-wrapper > .exception {
  padding: 100px 0px 60px;
  font-size: 28px;
  text-align: center;
}

.view-content {
  padding: 40px;
}

.page-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;

  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  width: 100%;

  text-align: center;

  &__title {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    @include text-shadow('background', 2px);
  }
  &__sub-title {
    color: gray;
    font-style: italic;
    @include text-shadow('foreground-light', 2px);
  }
}

.site-footer {
  padding: 25px;
  min-height: $footer-height;

  background-color: paanet-color('accent');
  color: paanet-color('background');

  .row > section {
    @include media-bp(tablet) {
      padding-bottom: 15px;
    }
  }

  &__social-networks {
    &__list {
      list-style: none;
      padding: 0;

      &__item {
        display: inline-block;

        img {
          margin-right: 3px;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  &__paanet-logo {
    padding-top: 50px;

    @include media-bp(tablet) {
      padding: 10px 0;
    }

    > img {
      width: 120px;
    }
  }

  &__message {
    margin: 0 auto;
    max-width: 300px;
  }

  a {
    color: paanet-color('primary');
  }
}
