@import "mixins";

body {
  font-family: 'Open Sans', sans-serif;
}


.navbar.navbar-default {
  background-color: transparent;
  border: none;

  .navbar-brand {
    color: pannet-color('primary');
  }

  .navbar-nav > li > a {
    color: pannet-color('background');
    text-shadow: 1px 1px 6px black;
  }
}
