$paanet-colors: (
  'primary': #11d3eb,
  'accent': #212e46,
  'secondary': #36b69e,
  'foreground': #191919,
  'foreground-light': #dcdcdc,
  'background': #ffffff
);

@function paanet-color($key: 'primary') {
  @return map-get($paanet-colors, $key);
}

@mixin text-shadow($color, $size) {
  color: paanet-color($color);
  text-shadow: 1px 1px $size black;
}
