<section id="home-tile" class="page-cover">
  <article class="presentation">
    <%= image_tag "paanet_logo_big.png", alt: "Paanet, red de apoyo y contención a niños y adolescentes con cáncer" %>
  </article>
</section>
<section class="view-content container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">¡Gracias por conocernos!</div>
  </div>
</section>
