<main>
  <article class="presentation">
    <h1 class="presentation__title">Paanet</h1>
    <p class="presentation__motto">Red de apoyo y contención a niños y adolescentes con cáncer</p>
  </article>
</main>
