<section id="home-tile" class="page-cover">
  <article class="presentation">
    <h1 class="presentation__title">Paanet</h1>
    <p class="presentation__motto">Red de apoyo y contención a niños y adolescentes con cáncer</p>
  </article>
</section>
<section class="view-content container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">¡Gracias por conocernos!</div>
  </div>
</section>
