<div id="home-tile">
  <article class="presentation">
    <h1 class="presentation__title">Paanet</h1>
    <p class="presentation__motto">Red de apoyo y contención a niños y adolescentes con cáncer</p>
  </article>
</div>
<div class="container">
  <main class="row">
    <div class="col-md-6 col-md-offset-3 text-center">Hello World!</div>
  </main>
</div>
