<% content_for :title, "Proyectos" %>

<section id="projects-tile" class="page-cover">
  <h1 class="page-cover__title">Nosotros</h1>
  <h2 class="page-cover__sub-title">Nosotros somos buena gente...</h2>
</section>
<section class="view-content container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 project-list">
      <% @projects.each do |project| %>
        <div class="project-list__item">
          <%= link_to project.title, project.url, class: 'title' %>
          <p><%= project.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
