<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mensaje de <%= @name %>:</h1>
    <p><%= @body %></p>
    <h3>Información de contacto:</h3>
    <p>Teléfono: <%= @phone %></p>
    <p>Email: <%= @email %></p>
  </body>
</html>
