<% content_for :head do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAzkphKi-nDGzvrHnyPu9fV5X55iPof0I0&callback=initMap', async: true, defer: true %>
<% end %>
<div id="map"></div>
<section class="view-content container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Acercate</h1>
      <p>En la organización le damos la bienvenida a todos los chicos</p>
      <p>
        Puedes acercarte a nuestra organización de 8:30 a 13:00 en Córdoba 2766, Mar del Plata
        o llámanos al <%= link_to "(0223) 495-4515", "tel:0223-495-4515" %> para una comunicación más directa.
      </p>
      <article>
        <p>Dejanos un mensaje</p>
        <form>
          <div class="form-group">
            <label for="contactMessage" class="sr-only">Mensaje</label>
            <textarea id="contactMessage" class="form-control" required placeholder="Sientete libre de escribir..."></textarea>
          </div>
          <div class="form-group">
            <label for="contactTitle" class="sr-only">Titulo</label>
            <input id="contactTitle" class="form-control" placeholder="Piensa un título">
          </div>
          <div class="form-group">
            <label for="contactEmail" class="sr-only">Email</label>
            <input id="contactEmail" class="form-control" placeholder="Email si tienes">
          </div>
          <div class="form-group">
            <label for="contactPhone" class="sr-only">Telefono</label>
            <input id="contactPhone" class="form-control" placeholder="Un telefono para escribirte o llamarte">
          </div>
          <div>
            <button type="submit" class="btn btn-default">Enviar</button>
          </div>
        </form>
      </article>
    </div>
  </div>
</section>
