// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
#goals-tile {
  background-image: asset-url('slide_3.jpg');
}

.goal-list {
  &__item {
    &.important {
      font-style: italic;
    }
  }

  &__separator {
    width: 100%;
  }
}
