// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
#home-tile {
  background-image: image-url("slide_1.jpg") no-repeat 50% 0%;
  transition: background-image 1s;
}

.presentation {
  @include text-shadow('primary', 2px);

  &__title {
    margin: 0;

    font-family: 'Cookie', cursive;
    font-size: 142px;
  }

  &__motto {
    margin: 0 auto;
    width: 320px;

    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
