@import "base/mixins";

// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: pannet-color('primary');
  text-shadow: 1px 1px 2px black;

  &__title {
    margin-bottom: 0;

    font-family: 'Cookie', cursive;
    font-size: 112px;
  }

  &__motto {
    margin: 0;
    width: 300px;

    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
