<!DOCTYPE html>
<html>
  <head>
    <title>PaanetOrg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google font for home page -->
    <link href="https://fonts.googleapis.com/css?family=Cookie|Open+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
